<p>
    
    Reactive works!</p>

<div class="row">
    <div class="col-10">
        <form class="row g-3" [formGroup]="student">
            <div class="col-md-4">
              <label for="validationDefault01" class="form-label">First name</label>
              <input type="text" formControlName="firstname" class="form-control" id="validationDefault01" value="Mark" required>
              <div class="text-danger">
                @if(student.controls['firstname'].touched && student.controls['firstname'].errors?.['required']){
                    <span>This is required</span>
                }@else if(student.controls['firstname'].errors?.['miblength']){
                    <span>min 4 char</span>
                }
                
              
              </div>
            </div>
            <div class="col-md-4">
              <label for="validationDefault02" class="form-label">Last name</label>
              <input type="text" formControlName="lastname" class="form-control" id="validationDefault02" value="Otto" required>
            </div>
            <div class="col-md-4">
              <label for="validationDefaultUsername" class="form-label">Username</label>
              <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2"></span>
                <input type="text" formControlName="username" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationDefault03" class="form-label">City</label>
              <input type="text"  formControlName="city" class="form-control" id="validationDefault03" required>
            </div>
            <div class="col-md-3">
              <label for="validationDefault04" class="form-label">State</label>
              <select class="form-select" formControlName="state" id="validationDefault04" required>
                <option selected disabled value="">Choose...</option>
                <option>pune</option>
                <option >ahmdavad</option>
                <option >mumbai</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="validationDefault05" class="form-label">Zip</label>
              <input type="text" formControlName="zipcode" class="form-control" id="validationDefault05" required>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" formControlName="isAccessterm" type="checkbox" value="" id="invalidCheck2" required>
                <label class="form-check-label" for="invalidCheck2">
                  Agree to terms and conditions
                </label>
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" [disabled]="student.invalid" (click)="onsave()" type="submit">Submit form</button>
            </div>
          </form>
          <div>
          {{formvalue | json}}
          </div>
    </div>
</div>