<h1>Defult pipe</h1>

<div class="row">
    <div class="col-3">
        Orignal values -{{firstname}}
        <br>
        After pipes -{{firstname | uppercase}}
    </div>
    <div class="col-3">
        Orignal values -{{firstname}}
        <br>
        After pipes -{{firstname | lowercase}}
    </div>
    <div class="col-3">
        Orignal values -{{firstname}}
        <br>
        After pipes -{{firstname | titlecase}}
    </div>
    <div class="col-3">
        Orignal values -{{curentdate}}
        <br>
        After pipes -{{curentdate | date}}
    </div>
    <div class="col-3">
        Orignal values -{{student}}
        <br>
        After pipes -{{student | json}}
    </div>
    <div class="col-3">
        Orignal values -{{student.state}}
        <br>
        After pipes -{{student.state | pipe}}
    </div>
</div>
